@use '../abstracts'as *;

:root {

  @each $screen-size,
  $font-size in $type-scale {
    @if $screen-size==small {

      @each $size,
      $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    }

    @else if $screen-size==medium {}

    @else {
      @include mq(small) {

        @each $size,
        $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }


  @each $screen-size,
  $value in $breakpoints {

    --bp-#{$screen-size}: #{$value};

  }
}

body {
  background-color: $neutral-1;
  font-family: "Kanit", "sans-serif";
  color: $neutral-4;
  min-height: 100vh;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap { 
  flex-wrap: wrap;
}

.grow {
  flex-grow: 2;
}

.shrink {
  flex-shrink: 2;
}

.full{
 width: 100%;
}

.gap {
  gap: var(--gap, 3rem);
}

.center {
  align-content: center;
}

.auto-center {
  margin: 0 auto;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.sr-only {
  visibility: hidden;
}


