@use '../abstracts'as *;

:root {

  @each $screen-size,
  $font-size in $type-scale {
    @if $screen-size==small {

      @each $size,
      $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    }

    @else if $screen-size==medium {}

    @else {
      @include mq(small) {

        @each $size,
        $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }


  @each $screen-size,
  $value in $breakpoints {

    --bp-#{$screen-size}: #{$value};

  }
}

body {
  background-color: $neutral-1;
  font-family: "Kanit", "sans-serif";
  color: $neutral-4;
  min-height: 100vh;
  margin: 0;
}


.sr-only {
  visibility: hidden;
}

.splitting {


 
  .char {
    
    transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
    transition-delay: calc( 20ms * var(--char-index) );

  }

  &[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY( .25em );
  }

  .word {
    
    transition: transform .6s cubic-bezier(.6, 0, .6, 2), opacity .8s linear;
    transition-delay: calc( 22ms * var(--word-index) );

  }

  &[data-scroll="out"] .word {
    opacity: 0.1;
    transform: translateX( 2em );
  }
}
