@use '../abstracts/' as *;

.case{

    margin-top: 1rem;

    h2{
        padding-top: 1rem;
    }

    h3{
        padding-top: 1rem;
    }
    
}

.sidebar{
    display: none;
    max-height: 400px;
    border-radius: 12px;

    @include mq('small'){
        display: block;
    
}
    
    ul{
        padding: 0;
        list-style: none;
        
    }

    
}

.case-body{
    padding: 1rem;
    max-width: 65ch;
}

.case-content{
    width: 100%;
}

.case{
    blockquote{
        padding-bottom: 2rem;
    }
}

.case-list{
   
    padding: 1rem;
    
}

.list-group{
    background-color: rgba(61, 48, 140, 0.42);
border: 1px solid rgba(250, 157, 48, 0.8);
border-radius: 10px;
}