@use "../abstracts/" as *;

.site-header {
  @include mqHeight("tall") {
    min-height: 120vh;
  }

  @include mqHeight("short") {
    min-height: 135vh;
  }

  position: relative;
}

.home {
  max-width: 55ch;
  min-height: 70vh;


  margin: 0 auto;
  
  @include mqMax("small") {
    display: grid;
    grid-template-columns: 1fr;
    
  }

  & .navigation {
    padding-left: 1rem;
    padding-right: 1rem;

    @include mqMax("small") {
      text-align: justify;
    }
  }
}
.home-container {
  position: relative;
}
.medalion {
  justify-self: center;
  color: $orange-3;
  font-size: var(--fs-800);
  margin-left: -0.5rem;
  padding: 2rem;
  position: relative;
  -webkit-text-stroke: 2px $magenta-3;

  @include mqMax("small") {
    padding: 0.5rem;
  }

  line-height: 64%;
  text-shadow: 2px 2px 4px $neutral-1;
  background: border-box
    radial-gradient(
      circle,
      $purple-3 0%,
      rgba(110, 9, 121, 0.175) 35%,
      rgba(0, 0, 0, 0) 60%
    );
}

.subtitle {
  justify-self: center;
  align-self: center;
  margin-top: 3.5rem;
}

.subtitle h3 {
  color: $purple-3;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fs-400);
  line-height: var(--fs-400);
  margin-block: 0;
}

.site-link {
  text-align: justify;
  font-family: "Kanit", sans-serif;
  font-size: var(--fs-600);
  line-height: var(--fs-600);
  color: $magenta-3;
  border: none;
}

.site-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: 700;

  color: $orange-3;
  font-size: var(--fs-200);
  text-align: justify;
  margin-inline: .2rem;
  padding-inline: var(--fs-200);
}


.content-div {

  height: 200vh;
}

.mask {
  position: absolute;
  inset: 0;

  -webkit-mask: url("assets/mask-mask.webp");
  -webkit-mask-position: center bottom;
  -webkit-mask-size: 100%;

  mask: url("assets/mask-mask.webp");
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
}
