@use '../abstracts/' as *;

.App{
  margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .text-justify{
    text-align: justify;
  }
  
  .flex-center{
    justify-content: center;
  }
  
  .nowrap {
    flex-wrap: nowrap;
  }
  
  .wrap { 
    flex-wrap: wrap;
  }
  
  .grow {
    flex-grow: 2;
  }
  
  .shrink {
    flex-shrink: 2;
  }
  
  .full{
   width: 100%;
  }

  .vh100{
    height: 100vh;
  }
  
  .gap {
    gap: var(--gap, 3rem);
  }

  .gap-sm {
    gap: var(--gap-sm, 1rem);
  }
  
  .center {
    align-content: center;
  }
  
  .auto-center {
    margin: 0 auto;
  }
  
  .items-base{
    align-items: baseline;
  }

  .items-end{
    align-items: flex-end;
  }
  .items-center {
    align-items: center;
  }
  
  .justify-start {
    justify-content: start;
  }
  
  .justify-end {
    justify-content: end;
  }

  .space-between{
      justify-content: space-between;
  }

section{

    min-height: 100vh;
}

.content{
    max-width: 75ch;
  
}



.col-auto-flow{
  grid-auto-flow: column;
}

.align-items-center{
  align-items: center;
}

.align-items-top{
  align-items: flex-start;
  align-items: start;
 
}


.flex-grow{
  flex-grow: 1;
}

.flex-shrink{
  flex-shrink: 1;
}

.flex-no-shrink{
  flex-shrink: 0;
}

.flex-basis{
  flex-basis: auto;
}

.span-2{
  grid-column: span 2;
}
.margin-top-sm{
  margin-top: .5rem;
}



 .tutorial{
  width: 100%;
    padding-top: 2em;
    padding-bottom: 1rem;
    margin-bottom: -.02rem;

    & .content{
        max-width: 55ch;
        margin: 0 auto;
        
    }

}
 

.work{

    padding-bottom: 1rem;
    width: 100%;
   
    & .content{
        margin: 0 auto;    
    }

}


.about{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1rem;
    margin-bottom: -.02rem;
    & .content{
        max-width: 55ch;
        margin: 0 auto;
        
    }

}

.contact{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1rem;
    & .content{
        max-width: 55ch;
        margin: 0 auto;
      
    }

}

.footer{
    width: 100%;
    margin-block: 1rem;


}



  