@use '../abstracts/' as *;

.flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center{
    justify-content: center;
  }
  
  .nowrap {
    flex-wrap: nowrap;
  }
  
  .wrap { 
    flex-wrap: wrap;
  }
  
  .grow {
    flex-grow: 2;
  }
  
  .shrink {
    flex-shrink: 2;
  }
  
  .full{
   width: 100%;
  }
  
  .gap {
    gap: var(--gap, 3rem);
  }
  
  .center {
    align-content: center;
  }
  
  .auto-center {
    margin: 0 auto;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-start {
    justify-content: start;
  }
  
  .justify-end {
    justify-content: end;
  }

  .space-between{
      justify-content: space-between;
  }

section{
    min-height: 50vh;
}

.content{
    max-width: 75ch;
  
}

.home{
    max-width: 55ch;
}



.break-1{
    margin: 0 auto;
    width: 100%;
    background-color: $neutral-2;
    clip-path: polygon(0 100%, 100% calc(100% - 5vw), 100% 100%, 0% 100%);
    padding: 3em;

}

.break-2{
   margin-top: -6em;
    width: 100%;
    background-color: $neutral-3;
    clip-path: polygon(0 calc(100% - 5vw), 100% 100%, 100% 100%, 0% 100%);
    padding: 3em;

}

.break-3{
    margin-top: -6em;
     width: 100%;
     background-color: $neutral-2;
     clip-path: polygon(0 100%, 100% calc(100% - 5vw), 100% 100%, 0% 100%);
     padding: 3em;
 
 }
 

.work{
    margin-top: -0.01em;
    padding-top: 2em;
    padding-bottom: 10em;
    width: 100%;
    background-color: $neutral-2;
    min-height: max-content;
    & .content{
        margin: 0 auto;    
    }

}


.about{
    width: 100%;
    margin-top: -0.001em;
    background-color: $neutral-3;
    & .content{
        max-width: 55ch;
        margin: 0 auto;
        
    }

}

.contact{
    width: 100%;
    margin-top: -0.1em;
    background-color: $neutral-2;
    & .content{
        max-width: 55ch;
        margin: 0 auto;
      
    }

}

.footer{
    width: 100%;
    margin-block: 1rem;


}

.glow-border{
    
    box-shadow:

    0 0 0.15em 0.04em $magenta-5
  
}


  