@use '../abstracts' as *;



.nav-list {
    position: fixed;
    margin: -.1em;
    top: 0;
    padding: 1em 3em;
    background-color: hsl(210 12% 25% / .875);
    // background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(.8rem);
    z-index: 1000;
    @include mqMax("small"){
      inset: 0 50% 0 0;
  
      flex-direction: column;
      padding: min(20vh, 6rem) 2em;
  
      margin-bottom: 0;
      overflow-y: auto;
     
  
  
      background: hsl(210 12% 15% / .875);
      border-right: 1px solid $orange-3;
  
      transform: translateX(-100%);
      transition: transform 350ms ease-out;
    }
  }
  
  @supports(backdrop-filter: blur(1em)) {
    .nav-list {
      border-right: none;
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(.8rem);
      @include mqMax("small"){
        border-right: none;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(.8rem);
      }
    }
  }
  

  
 @include mqMax("small") {  
    .nav-list[data-visible="true"] {
      transform: translateX(0%);
    }
  }
  
  
  
  nav {
    padding: 0;
    margin: 0;
  
  
    & ul {
      text-decoration: none;
    }

    
  }

 