@use '../abstracts'as *;

.btn {
    font-weight: 600;
    color: $orange-3;
    padding: 0.6rem 2rem 0.6rem;
    text-shadow: 1px 1px $neutral-1;
}


.raise {
    transition: 0.25s;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em $magenta-4;
  transform: translateY(-0.25em);
}


.scroll-to-top :hover{
    cursor: pointer;
}

#up-arrow {
    fill: $orange-3;
    stroke: $magenta-3;
    stroke-width: 3;
}


.carosel-control-button{
    fill: $orange-3;
    stroke: $magenta-3;
    stroke-width: 3;
    background-color: transparent;
    padding: 0 ;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}


.hamburger {
    position: fixed;
    padding: 0;
    display: none;
    background-repeat: no-repeat;
    // makes the hamburger menu visible at small screem sizes using the max width media query
    @include mqMax("small"){
        cursor: pointer;
        padding: 0;
        display: block;
        height: 6rem;
        top: 0rem;
        bottom: 2rem;
        left: 1rem;
        background-position: center;
        background-color: $blue-5;
        background-image: url(assets/hamburger.svg);
        width: 2rem;
        aspect-ratio: 1;
        z-index: 9999;
        border: none;
        filter: drop-shadow(.001em .001em 1px crimson);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    }
}


.hamburger[aria-expanded="true"]{
        
    background-image: url(assets/hamburger-close.svg)
}

