@use '../abstracts/'as *;

.hero {
    max-width: 100%;

}

.side-kick {
    max-width: calc(50% - 3em);
}

@media (max-width: 40em) {
    .side-kick {
        max-width: 100%;
    }
}

.card {
    background-color: $neutral-5;
    margin-inline: .5rem;

    border: {
        radius: 12px;
    }



    .card-text {
        max-width: 65ch;
        padding: .1em;
    }

    .card-content {
        padding: {
            top: 0.5em;
            bottom: 1em;
            left: 3em;
            right: 0;
        }
    }

    

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
        filter: saturate(50%) hue-rotate(200deg);
    }

    img:hover {
        filter: saturate(90%) hue-rotate(0deg);
    }

    position: relative;
}


.card-sidebar{
    min-width: 15vw;
}

@media (min-width: 40em){
    .card-sidebar{
        min-width: 5vw;
    }
  }