@use '../abstracts/'as *;

.hero {
    gap: var(--gap-sm);
    width: calc(100% - 1rem);
    @include mqMax("small"){
        width: 80vw;


    }
 
}

.side-kick {
    gap: var(--gap-sm);
    width: calc(50% - 2.5rem);
    @include mqMax("small"){
        width: 98vw;
    }
}


.card {
  
    background-color: $neutral-5;
    margin-right: 1rem;
    border: 2px solid $orange-3;
    border-radius: 10px;
    flex-shrink: 0;

    .card-text {
        max-width: 60ch;
        padding: .1rem;
        margin-top: .5rem;
        line-height: 1.7rem;
        word-break: break-word; 
    }

    .card-content {
        display: grid;
        @include mq("small"){
            grid-template-columns: 2fr 1fr;
        }
        @include mqMax("small"){
            grid-template-columns: 1fr;
        }
        padding: {
            top: 0.5rem;
            bottom: 2rem;
            left: 2rem;
            right: 0;
        }
        @include mqMax("small"){
            padding: {
                top: 0.5rem;
                bottom: 2rem;
                left: .1rem;
                right: 0;
            }
        }
    }
    
    .image-container {
        position: relative;
        width: 100%;
        height: 10rem;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: left top;
        }
    }
    position: relative;
}


.deck-box{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 81vw;
}

.deck-box > .card{
    width: 80vw;

    margin-right: 1rem;
    @include mqMax("small"){
        margin-right: 0;
    }
}

.card-sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 15vw;
    @include mq('small'){
        flex-direction: column;
        min-width: 5vw;
    }    
}



  .tag{
    // TODO add media query
    color: $purple-3;
    padding-inline: .2rem;
    padding-block: .1rem;
    margin-inline: .05rem;
    background-color: $orange-3;
    border-radius: 2px;
    font-size: var(--fs-100);
    font-weight: 800;

  }

  .card-cta {
    border-radius: 5px;
    max-width: fit-content;
    padding: .5em 1em;
    margin: 1em 1em 0 0;
    background-color: $magenta-3;
  }


