@use '../abstracts/'as *;

.hero {
    max-width: 100%;

}

.side-kick {
    max-width: calc(50% - 2.5rem);
    @include mqMax("small"){
        max-width: 100%;

    }
    transform: rotateZ(1deg);
    transition: transform 300ms;
    &:hover{
        transform: rotateZ(0);
    }
}


.card {
    background-color: $neutral-5;
    margin-inline: .5rem;
    overflow: hidden;

    border: {
        radius: 12px;
    }



    .card-text {
        max-width: 60ch;
        padding: .1em;
        margin-top: .5em;
        line-height: 1.7rem;
    }

    .card-content {
        padding: {
            top: 0.5em;
            bottom: 1em;
            left: 3em;
            right: 0;
        }
    }

    

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        filter: saturate(50%) hue-rotate(200deg);
    }

    img:hover {
        filter: saturate(90%) hue-rotate(0deg);
    }

    position: relative;
}


.card-sidebar{
    min-width: 15vw;
    @include mq('small'){
        min-width: 5vw;
    }    
}



  .tag{
    color: $magenta-1;
    padding-inline: 1em;
    padding-block: .2em;
    margin-inline: .2em;
    background-color: $magenta-5;
    border-radius: 12px;
  }

  .card-cta {
    border-radius: 12px;
    max-width: fit-content;
    padding: .5em 1em;
    margin: 1em 1em 0 0;
    background-color: $magenta-1;

  }