

$neutral-1: hsl(210, 12%, 15%);
$neutral-2: hsl(210, 12%, 30%);
$neutral-3: hsl(210, 12%, 50%);
$neutral-4: hsl(210, 12%, 70%);
$neutral-5: hsl(210, 12%, 90%);

$blue-1: hsl(228, 60%, 15%);
$blue-2: hsl(228, 60%, 30%);
$blue-3: hsl(228, 60%, 50%);
$blue-4: hsl(228, 60%, 70%);
$blue-5: hsl(228, 60%, 90%);

$orange-1: hsl(33, 100%, 15%);
$orange-2: hsl(33, 100%, 30%);
$orange-3: hsl(33, 100%, 50%);
$orange-4: hsl(33, 100%, 70%);
$orange-5: hsl(33, 100%, 90%);

$magenta-1: hsl(314, 56%, 15%);
$magenta-2: hsl(313, 56%, 30%);
$magenta-3: hsl(313, 56%, 50%);
$magenta-4: hsl(313, 56%, 70%);
$magenta-5: hsl(313, 56%, 90%);

$pink-1: hsl(300, 100%, 15%);
$pink-2: hsl(300, 100%, 30%);
$pink-3: hsl(300, 100%, 50%);
$pink-4: hsl(300, 100%, 70%);
$pink-5: hsl(300, 100%, 90%);

$purple-1: hsl(279, 86%, 15%);
$purple-2: hsl(279, 86%, 30%);
$purple-3: hsl(279, 86%, 50%);
$purple-4: hsl(279, 86%, 70%);
$purple-5: hsl(279, 84%, 90%);